[bus_benchmark host]
mcu: host

# stm32h723 USB-Can emulation 1_000_000 bits
[bus_benchmark u2c]
mcu: u2c

# rp2040 USB Serial Emulation.
[bus_benchmark toolhead]
mcu: toolhead

[bus_benchmark carto]
mcu: carto

# stm32h723 USB-Can emulation 1_000_000 bits
[bus_benchmark mcu]
mcu: mcu
