
#kinematics
#################################
[include kinematic/kinematic.cfg]
#################################

#axis
#################################
[include axis/axis.cfg]
#################################

################################
[include extruder/extruder.cfg]
################################

###################################
[include bed_heater/bed_heater.cfg]
###################################

#####################################
[include fans/fans.cfg]
#####################################

####################################
[include filter/filters.cfg]
###################################

[include light/light.cfg]

################################################
[include filament_sensors/filament_sensors.cfg]
###################################################

[include probe/carto_probe.cfg]

[include resonance_tester/resonance_tester.cfg]

[include filament_buffer/buffer.cfg]

[include temp_sensors/chamber_temp.cfg]