[gcode_macro _MODULE_HEATSOAK_BED]
gcode:
    {% set BED_TEMP = printer["gcode_macro START_PRINT"].bed_temp %}
    {% set SOAK = printer["gcode_macro START_PRINT"].soak %}
    {% set CHAMBER_TEMP = printer["gcode_macro START_PRINT"].chamber_temp %}

    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
    {% set filter_front = printer["gcode_macro _USER_VARIABLES"].filter_front %}

    {% set St = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}

    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}

    {% if status_leds_enabled %}
        STATUS_HEATING
    {% endif %}
        # If we need a full soak (not 0 min), then move the toolhead to the center front to spread the heat using the hotend fan
    {% if printer.heater_bed.temperature < (BED_TEMP - 8) %}
      {% if (CHAMBER_TEMP > 0) and filter_front %}
            START_FILTER SPEED=1
      {% endif %}
    
      {% if SOAK > 0 %}
          G0 X{max_x|int / 2} Y{max_y|int / 3} Z50 F{St}
      {% endif %}
    
        # Put the bed temperature target and wait for the soak
      HEATSOAK_BED TEMP={BED_TEMP} SOAKTIME={SOAK}
      
    {% else %}
        HEATSOAK_BED TEMP={BED_TEMP} SOAKTIME=0
    {% endif %}