[gcode_macro _MODULE_EXTRUDER_HEATING]
gcode:
    # Heat the nozzle to print temperature ontop of the purge bucket (if available) or in the middle of the bed
    {% set EXTRUDER_TEMP = printer["gcode_macro START_PRINT"].extruder_temp %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}

    {% if status_leds_enabled %}
        STATUS_HEATING
    {% endif %}

    RESPOND MSG="Нагрев экструдера до рабочей температуры {EXTRUDER_TEMP}С"
  
    M109 S{EXTRUDER_TEMP}
    RESPOND MSG="Температура экструдера достигла рабочей температуры в {EXTRUDER_TEMP}С"