
[gcode_macro _MODULE_EXTRUDER_PREHEATING]
gcode:
    # Preheat the nozzle.
    {% set safe_extruder_temp = printer["gcode_macro _USER_VARIABLES"].safe_extruder_temp|float %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}

    {% if status_leds_enabled %}
        STATUS_HEATING
    {% endif %}
        RESPOND MSG="Предварительный нагрев экструдера до {safe_extruder_temp}С"
    
    {% if printer.extruder.target < safe_extruder_temp %}
        M104 S{safe_extruder_temp} 
    {% else %}
        RESPOND MSG="Экструдер нагрет до  {safe_extruder_temp} С"
    {% endif %}