[gcode_macro _MODULE_HEATSOAK_CHAMBER]
gcode:
    {% set CHAMBER_TEMP = printer["gcode_macro START_PRINT"].chamber_temp %}
    {% set CHAMBER_MAXTIME = printer["gcode_macro START_PRINT"].chamber_maxtime %}

    {% set chamber_sensor_enabled = printer["gcode_macro _USER_VARIABLES"].chamber_temperature_sensor_enabled %}
    {% set filter_front = printer["gcode_macro _USER_VARIABLES"].filter_front %}

    {% set St = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}

    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}

    {% if chamber_sensor_enabled %}
        {% if CHAMBER_TEMP > 0 %}
            {% set chamber_sensor_name = printer["gcode_macro _USER_VARIABLES"].chamber_temperature_sensor_name %}
            {% set CURRENT_TEMP = printer["temperature_sensor " ~ chamber_sensor_name].temperature|float %}

            # We do a first test to validate that the chamber is not already at temperature before starting the soak
            {% if CURRENT_TEMP <= CHAMBER_TEMP %}
                G0 X{max_x|int / 2} Y{max_y|int / 3} Z50 F{St}
                M106 S255
                {% if filter_front %}
                    START_FILTER SPEED=1
                {% endif %}
                # Wait for the temperature of the chamber to be reached (default max: 15min)
                HEATSOAK_CHAMBER TEMP={CHAMBER_TEMP} MAXTIME={CHAMBER_MAXTIME}

                {% if filter_front %}
                    STOP_FILTER
                {% endif %}
                M106 S0
                
            {% endif %}
          {% endif %} 
    {% endif %}