
#Макросы управления фильтром

[gcode_macro START_FILTER]
gcode:
    {% set SPEED = params.SPEED|default(1)|float %}

    {% set filter_front_name = printer["gcode_macro _USER_VARIABLES"].filter_front_name %}
    {% set filter_back_name = printer["gcode_macro _USER_VARIABLES"].filter_back_name %}

    {% if filter_front_name %}
      SET_FAN_SPEED FAN={filter_front_name} SPEED={SPEED}
    {% endif %}

    {% if filter_back_name %}
      SET_FAN_SPEED FAN={filter_back_name} SPEED={SPEED}
    {% endif %}

[gcode_macro START_FILTER_CHAMBER]
gcode:
    {% set SPEED = params.SPEED|default(1)|float %}
	{% set exhaust_filter = printer["gcode_macro _USER_VARIABLES"].exhaust_filter %}
    {% set filter_front_name = printer["gcode_macro _USER_VARIABLES"].filter_front_name %}
    {% set filter_back_name = printer["gcode_macro _USER_VARIABLES"].filter_back_name %}

    {% if exhaust_filter %}
      SET_FAN_SPEED FAN={exhaust_filter} SPEED={SPEED}
    {% endif %}

    {% if filter_front_name %}
      SET_FAN_SPEED FAN={filter_front_name} SPEED={SPEED}
    {% endif %}

    {% if filter_back_name %}
      SET_FAN_SPEED FAN={filter_back_name} SPEED={SPEED}
    {% endif %}
    

[gcode_macro STOP_FILTER]
gcode:
	{% set exhaust_filter = printer["gcode_macro _USER_VARIABLES"].exhaust_filter %}
    {% set filter_front_name = printer["gcode_macro _USER_VARIABLES"].filter_front_name %}
    {% set filter_back_name = printer["gcode_macro _USER_VARIABLES"].filter_back_name %}
    {% set SPEED = params.SPEED|default(0)|float %}

    {% if exhaust_filter %}
      SET_FAN_SPEED FAN=exhaust_filter SPEED=0
    {% endif %}

    {% if filter_front_name %}
      SET_FAN_SPEED FAN={filter_front_name} SPEED=0
    {% endif %}

    {% if filter_back_name %}
      SET_FAN_SPEED FAN={filter_back_name} SPEED=0
    {% endif %}
    

[delayed_gcode _STOP_FILTER_DELAYED]
gcode:
    STOP_FILTER


    