
#Макросы управления фильтром

[gcode_macro START_FILTER]
gcode:
    {% set SPEED = params.SPEED|default(1)|float %}

    {% set filter_front = printer["gcode_macro _USER_VARIABLES"].filter_front %}
    {% set filter_back = printer["gcode_macro _USER_VARIABLES"].filter_back %}

    {% if filter_front %}
      SET_FAN_SPEED FAN=filter_front SPEED={SPEED}
    {% endif %}

    {% if filter_back %}
      SET_FAN_SPEED FAN=filter_back SPEED={SPEED}
    {% endif %}

[gcode_macro START_FILTER_CHAMBER]
gcode:
    {% set SPEED = params.SPEED|default(1)|float %}
	{% set exhaust_filter = printer["gcode_macro _USER_VARIABLES"].exhaust_filter %}
    {% set filter_front = printer["gcode_macro _USER_VARIABLES"].filter_front %}
    {% set filter_back = printer["gcode_macro _USER_VARIABLES"].filter_back %}

    {% if exhaust_filter %}
      SET_FAN_SPEED FAN=exhaust_filter SPEED={SPEED}
    {% endif %}

    {% if filter_front %}
      SET_FAN_SPEED FAN=filter_front SPEED={SPEED}
    {% endif %}

    {% if filter_back %}
      SET_FAN_SPEED FAN=filter_back SPEED={SPEED}
    {% endif %}
    

[gcode_macro STOP_FILTER]
gcode:
	{% set exhaust_filter = printer["gcode_macro _USER_VARIABLES"].exhaust_filter %}
    {% set filter_front = printer["gcode_macro _USER_VARIABLES"].filter_front %}
    {% set filter_back = printer["gcode_macro _USER_VARIABLES"].filter_back %}
    {% set SPEED = params.SPEED|default(0)|float %}

    {% if exhaust_filter %}
      SET_FAN_SPEED FAN=exhaust_filter SPEED=0
    {% endif %}

    {% if filter_front %}
      SET_FAN_SPEED FAN=filter_front SPEED=0
    {% endif %}

    {% if filter_back %}
      SET_FAN_SPEED FAN=filter_back SPEED=0
    {% endif %}
    

[delayed_gcode _STOP_FILTER_DELAYED]
gcode:
    STOP_FILTER


    