
[heater_bed]
pid_Kp: 11.362
pid_Ki: 0.339
pid_Kd: 95.158

[extruder]
nozzle_diameter: 0.6
pid_kp: 10.349
pid_ki: 0.453
pid_kd: 157.518
pressure_advance: 0.017
pressure_advance_smooth_time: 0.04
min_extrude_temp: 230

[stepper_x]
rotation_distance: 39.741
#39.598

[tmc2240 stepper_x]
driver_SG4_THRS: 166

[stepper_y]
rotation_distance: 39.837
#39.828

[tmc2240 stepper_y]
driver_SG4_THRS: 223

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 50.8
damping_ratio_y: 0.049

shaper_type_y: mzv
shaper_freq_y: 40.6
damping_ratio_y: 0.054

shaper_type_z: mzv
shaper_freq_z: 53.6
damping_ratio_z: 0.1


