

############################
[include config/mcu/mcu.cfg]
############################
[include config/hardware/hardware.cfg]
############################
[include config/software/software.cfg]
############################

[include config/macro/macro.cfg]

[include variables.cfg]