
[mcu cartographer]
canbus_uuid: a9fe4cdc9cea

[adxl345 cartographer]
cs_pin: cartographer:PA3
spi_bus:spi1_PA6_PA7_PA5
# spi_software_miso_pin: PA6
# spi_software_mosi_pin: PA7
# spi_software_sclk_pin: PA5

[thermistor 47k]
temperature1: 25
resistance1: 47000
beta: 4041.0

[temperature_probe cartographer]
pullup_resistor: 10000
sensor_type: 47k
sensor_pin: cartographer:PA4
min_temp: 0
max_temp: 125

[led carto_led]
white_pin: cartographer:PB5
cycle_time: 0.01
initial_WHITE: 0.03

[output_pin _LDC1612_en]
pin: cartographer:PA15
value: 0 # enable

[static_pwm_clock ldc1612_clk_in]
pin: cartographer:PB4
frequency: 24000000