
[mcu carto]
canbus_uuid: a9fe4cdc9cea



[thermistor 47k]
temperature1: 25
resistance1: 47000
beta: 4041.0

[temperature_probe carto]
pullup_resistor: 10000
sensor_type: 47k
sensor_pin: carto:PA4
min_temp: 0
max_temp: 125
horizontal_move_z: 2
calibration_position: 110, 110, 1
calibration_bed_temp: 100
calibration_extruder_temp: 180

#[led carto_led]
#white_pin: carto:PB5
#cycle_time: 0.01
#initial_WHITE: 0.03

#[output_pin carto_led]
#pin: carto:PB5
#value: 1 # enable

[output_pin _LDC1612_en]
pin: carto:PA15
value: 0 # enable

[static_pwm_clock ldc1612_clk_in]
pin: carto:PB4
frequency: 24000000