
#--------------------------------------------#
#### Fysetc SB Combo V2 MCU definition ######
#--------------------------------------------#

[mcu toolhead]
##--------------------------------------------------------------------
canbus_uuid: c80a11bc9654

# If using USB mode, comment out canbus_uuid above and uncomment the serial line below.
# serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------

# If you want to override the wiring of the Fysetc SB Combo V2, keep in mind that this
# board is defined using the "toolhead" name. So you should use "pin: toolhead:PIN_NAME"
# in your own overrides.cfg files.

[include ../mcu_definition/toolhead/Fysetc_Combo_V2.cfg]

[board_pins fysetc_sb_combo_v2_mcu]
mcu: toolhead
aliases:
    E_STEP=MCU_TMCDRIVER_STEP , E_DIR=MCU_TMCDRIVER_DIR , E_ENABLE=MCU_TMCDRIVER_ENABLE , E_TMCUART=MCU_TMCDRIVER_UART ,
    E_TXPIN=MCU_TMCDRIVER_TX , E_DIAG=MCU_TMCDRIVER_DIAG ,

    X_STOP=MCU_IO0 , Y_STOP=MCU_IO1 ,
    PROBE_INPUT=MCU_PROBE ,

    E_HEATER=MCU_HE0 , E_TEMPERATURE=MCU_TE0 ,

    PART_FAN=MCU_FAN0_PWM , E_FAN=MCU_FAN1_PWM , AUX_FAN=MCU_FAN2_PWM ,

    STATUS_NEOPIXEL=MCU_RGB , STATUS_BOARD=MCU_STATUS ,

    ADXL_CS=MCU_ADXL345_CSPIN , ADXL_SCLK=MCU_ADXL345_CLK , ADXL_MISO=MCU_ADXL345_MISO , ADXL_MOSI=MCU_ADXL345_MOSI ,

    FIVE_VOLT_MONITOR=MCU_5V_MONITOR , VIN_MONITOR=MCU_24V_MONITOR ,
    DRIVER_TEMPERATURE=MCU_TMC_THERMISTOR ,

    AUX_FAN0=MCU_AUX_FAN0 , AUX_FAN0_TACHO=MCU_AUX_IO5 ,
    AUX_FAN1=MCU_AUX_FAN1 , AUX_FAN1_TACHO=MCU_AUX_IO6 ,
    AUX_RGB=MCU_AUX_RGB ,


[temperature_sensor toolhead_mcu]
sensor_type: temperature_mcu
sensor_mcu: toolhead

#[output_pin activity_led]
#pin: toolhead:STATUS_BOARD

[adc_temperature 24V_Monitor]
temperature1: 24
voltage1: 3.13
temperature2: 22
voltage2: 2.87
temperature3: 21
voltage3: 2.74

[temperature_sensor 24V_Monitor]
sensor_type: 24V_Monitor
sensor_pin: toolhead:PA5   #24V_MON
adc_voltage: 3.3
voltage_offset: 0

