
[gcode_macro _HOME_X]
gcode:
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    # Home
    {% set homing_backoff = printer["gcode_macro _USER_VARIABLES"].homing_backoff|default(5)|int %}
	{% set homing_travel_accel = printer["gcode_macro _USER_VARIABLES"].homing_travel_accel|default(1500)|int %}
    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2240 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2240 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = printer["gcode_macro _USER_VARIABLES"].homing_current|default(0.7)|float %}
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    
    SET_KINEMATIC_POSITION X=15

    {% if verbose %}
        RESPOND MSG="Парковка оси Х"
    {% endif %}
    
    G91
    G1 X-{homing_backoff} F{homing_travel_accel}
    M400 
    
    G28 X
    
    G91
    G1 X-{homing_backoff} F{homing_travel_accel}
    G4 P1000
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    G90
    G1 X{(max_x / 2)} F{homing_travel_accel}
    M400

[gcode_macro _HOME_Y]
gcode:
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
	{% set homing_backoff = printer["gcode_macro _USER_VARIABLES"].homing_backoff|default(5)|int %}
	{% set homing_travel_accel = printer["gcode_macro _USER_VARIABLES"].homing_travel_accel|default(1500)|int %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}
    
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2240 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2240 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = printer["gcode_macro _USER_VARIABLES"].homing_current|default(0.7)|float %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    
    SET_KINEMATIC_POSITION Y=15

    {% if verbose %}
        RESPOND MSG="Парковка оси У"
    {% endif %}
    
    
    G91
    G1 Y{homing_backoff} F{homing_travel_accel}
    
    #G4 P2000
    #M400 to finish all pending moves/process the buffer
    M400 
    
    # Home
    G28 Y
    # Move away
    G91
    G1 Y{homing_backoff} F{homing_travel_accel}
    G4 P1000

    # Wait just a second… (give StallGuard registers time to clear)
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    G90
    G1 Y{(max_y / 2)} F{homing_travel_accel}
    M400


[homing_override]
axes: xyz
gcode:
  {% set status_leds = printer["gcode_macro _USER_VARIABLES"].status_leds %}
  {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
  {% set homing_zhop = printer["gcode_macro _USER_VARIABLES"].homing_zhop|default(5)|int %}
  {% set max_x = printer.toolhead.axis_maximum.x|float %}
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  {% set homing_travel_accel = printer["gcode_macro _USER_VARIABLES"].homing_travel_accel|default(1500)|int %}
    
  
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if status_leds %}
        status_homing
  {% endif %}

  SET_KINEMATIC_POSITION Z=5

  {% if verbose %}
        RESPOND MSG="Парковка оси Z"
  {% endif %}
    
  G1 Z{homing_zhop} F1200

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    G90
    G1 X{(max_x / 2)} Y{(max_y) / 2} F{homing_travel_accel}
    
    G28 Z
    G90
    G1 Z10 F1500
    M400

  {% if status_leds %}
        status_ready
  {% endif %}
  {% endif %}