
[include adxl_triangle.cfg]
[include adxl_carto.cfg]

[include ../../software/shake_tune/shake_tune.cfg]
#[include sb2209_accel.cfg]

[resonance_tester]
accel_chip_x: adxl345 accel_x
accel_chip_y: adxl345 accel_y
accel_chip_z: adxl345 accel_x
probe_points:
    115, 110, 50
